$serif: 'Merriweather', serif;
$sans:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$weight-regular: 400;
$weight-medium: 600;
$weight-heavy: 800;

$color-bg: #f5f5f5;

h1 {
  margin: 16px 0px;
}

h2 {
  margin: 32px 0px 0px 0px;
  padding: 0;
}

p {
  margin: 8px 0px 12px 0px;
}

img {
  border: 1px solid #a2a2a2;
  border-radius: 4px;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-bg;
  padding: 0;
  margin: 0;
  font-family: $sans;
  line-height: 1.6;
  font-size: 18px;
  color: #333333;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

.noStyle {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.heading2Xl {
  font-family: $serif;
  font-weight: $weight-heavy;
  font-size: 2.2rem;
  line-height: 1.2;
  letter-spacing: -0.05rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.headingLg {
  font-family: $serif;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  font-weight: $weight-medium;
  margin-left: 20px;
  margin-top: 0;
}

.intro {
  text-align: center;
  margin-bottom: 22px;
}

.intro p {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #999;
}

main {
  position: relative;
}

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 1.5rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.similarityScore {
  font-size: 16px;
  font-family: $sans;
  padding-left: 12px;
  font-weight: 400;
  text-decoration: none !important;
}

.similarityScore:hover {
  text-decoration: none !important;
}

.categoryButton {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  padding: 6px;
  border: 1px solid #333;
  border-radius: 6px;
  margin: 4px;
  cursor: pointer;
}

.categoryButton:hover {
  background-color: #eee;
}

.leader {
  margin-bottom: 18px;
}

label {
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
}

.sortingButton {
  -webkit-box-shadow: -1px 4px 14px -6px rgba(148,148,148,.5);
  -moz-box-shadow: -1px 4px 14px -6px rgba(148,148,148,.5);
  box-shadow: -1px 4px 14px -6px rgba(148,148,148,.5);
  border: 1px solid grey;
}

.sortingButton:hover {
  border: 1px solid blue;
}

.copyLink {
  position: absolute;
  right: 0px;
  top: -8px;
}

.copyLink button:hover {
  background-color: #e0e0e0;
}

.scrollToTop {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 12px 24px;
  background-color: $color-bg;
  color: #0070f3;
  cursor: pointer;
}

hr {
  border: 1px solid black;
  opacity: 0.1;
}

.divider {
  font-size: 30px;
  font-weight: 200;
  line-height: 0;
  margin-bottom: -5px;
}

.sortingOptions {
  height: 36px;
  display: inline-block;
  border-right: 2px solid #eee;
  margin: 10px;
  margin-top: 32px;
  position: relative;
}

.listOptions {
  margin-top: 12px;
  display: inline-block;
  position: relative;
  margin-left: 6px;
}

ul {
  margin: 0;
}

ul {
  list-style-type: none !important;
}
ul > li {
  text-indent: -15px;
}

ul > li:before {
  content: "-" !important;
  opacity: 0.4;
  padding-right: 7px;
}

input {
  font-family: $sans;
  font-weight: 400;
}

.sadCat {
  margin-top: 50px;
  font-size: 60px;
  text-align: center;
  width: 100%;
}

.questionMark {
  color: white;
  padding-top: 1px;
  width: 30px;
  height: 30px;
}

.circle {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: help;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
}

.tooltipText {
  text-decoration: underline;
  color: white !important;
}

.callout {
  cursor: pointer;
  background-color: #d9e6ff;
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 16px;
  color: black;
  p {
    padding: 0;
    margin: 0;
  }
  &:hover {
    border: 1px solid blue;
  }
  ul {
    padding: 8px 8px 8px 46px;
  }
}